@page
@model TodoRazorApp.Pages.Todos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>タスク登録</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Todo.Name" class="control-label"></label>
                <input asp-for="Todo.Name" class="form-control" />
                <span asp-validation-for="Todo.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.DueDate" class="control-label"></label>
                <input asp-for="Todo.DueDate" class="form-control" />
                <span asp-validation-for="Todo.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Memo" class="control-label"></label>
                <input asp-for="Todo.Memo" class="form-control" />
                <span asp-validation-for="Todo.Memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">トップ画面に戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
