@page
@model TodoRazorApp.Pages.Todos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="content-area">
    <h1>タスク編集</h1>

    <div class="main-container-border main-container-center">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Todo.Id" />
            <input type="hidden" asp-for="Todo.AccountId" />
            <div class="form-group custom-form">
                <label asp-for="Todo.Name" class="control-label"></label>
                <input asp-for="Todo.Name" class="form-control" />
                <span asp-validation-for="Todo.Name" class="text-danger"></span>
            </div>
            <div class="form-group custom-form">
                <label asp-for="Todo.CategoryId" class="control-label"></label>
                <select asp-for="Todo.CategoryId" class="form-control" asp-items="ViewBag.CategoryList">
                    <option value="0">未選択</option>
                </select>
            </div>
            <div class="form-group custom-form">
                <label asp-for="Todo.DueDate" class="control-label"></label>
                <input asp-for="Todo.DueDate" class="form-control" />
                <span asp-validation-for="Todo.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group custom-form">
                <label asp-for="Todo.Memo" class="control-label"></label>
                <input asp-for="Todo.Memo" class="form-control" />
                <span asp-validation-for="Todo.Memo" class="text-danger"></span>
            </div>
            <div class="form-group align-center">
                <input type="submit" value="更新" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="align-center">
        <a asp-page="./Index">トップ画面に戻る</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
