@page
@model TodoRazorApp.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="content-area">
    <h1>会員登録</h1>

    <div class="main-container-border main-container-center">
        <form method="post">
            <span class="err-msg">@Model.ErrorMsg</span>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group custom-form">
                <label asp-for="Account.Name" class="control-label"></label>
                <input asp-for="Account.Name" class="form-control" />
                <span asp-validation-for="Account.Name" class="text-danger"></span>
            </div>
            <div class="form-group custom-form">
                <label asp-for="Account.Mail" class="control-label"></label>
                <input asp-for="Account.Mail" class="form-control" />
                <span asp-validation-for="Account.Mail" class="text-danger"></span>
            </div>
            <div class="form-group custom-form">
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group custom-form">
                <label for="PassConfirm" class="control-label">パスワード（確認）</label>
                <input type="password" id="PassConfirm" name="PassConfirm" class="form-control" />
            </div>
            <div class="form-group align-center">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="align-center">
        <a asp-page="Index">ログインはこちら</a>
    </div>
</div>
