@page
@model TodoRazorApp.Pages.Accounts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>会員登録</h1>

<p class="err-msg">@ViewData["ErrorMsg"]</p>

<form method="post">
    <div class="form-group">
        <label asp-for="Account.Name" class="control-label"></label>
        <input asp-for="Account.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Account.Mail" class="control-label"></label>
        <input asp-for="Account.Mail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Account.Password" class="control-label"></label>
        <input asp-for="Account.Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="登録" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">ログインはこちら</a>
</div>
