@page
@model TodoRazorApp.Pages.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="content-area">
    <h1>ログイン</h1>

    <div class="main-container-border main-container-center">
        <form method="post">
            <span class="err-msg">@ViewData["ErrorMsg"]</span>

            <div class="form-group custom-form">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
            </div>
            <div class="form-group custom-form">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>
            <div class="form-group align-center">
                <input type="submit" value="ログイン" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <p class="align-center">
        <a asp-page="Create">会員登録はこちら</a>
    </p>
</div>
